@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Oswald:wght@300&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Oswald, sans-serif; }

html {
  background: #4a5462;
  background-image: url("../png/dev3.gif");
  background-size: contain 100%;
  /*ARREGLO DE BACKGROUND*/
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  width: 100%; }

::placeholder {
  color: #000;
  opacity: 1;
  font-weight: bold; }

input, select, textarea {
  color: #000;
  font-weight: bold;
  text-transform: uppercase; }

.botones-start-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw; }

/* ANIMACION Y CSS DEL BOTON INICIAR CALCULADORA */
#start, #start-conversor, #start-recomendaciones {
  text-align: center;
  font-weight: bold;
  width: 300px;
  position: relative;
  padding: 10px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  transition: 0.5s;
  color: #21ebff;
  background-color: #000;
  overflow: hidden;
  border-radius: 10px; }

#start:hover, #start-conversor:hover, #start-recomendaciones:hover {
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s; }

#start:before, #start-conversor:before, #start-recomendaciones:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
  transition-delay: 0.5s; }

#start:hover:before, #start-conversor:hover:before, #start-recomendaciones:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s; }

#start:after, #start-conversor:after, #start-recomendaciones:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.5s;
  transition-delay: 0.5s; }

#start:hover:after, #start-conversor:hover:after, #start-recomendaciones:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s; }

/* FIN ANIMACION Y CSS DEL BOTON 'START' *****************************/
/* INICIO BOTON START CONVERSOR ******************************* */
#start-conversor {
  color: #00ff11;
  height: 48px; }

#start-conversor:hover {
  background: #00ff11;
  color: #111;
  box-shadow: 0 0 50px #00ff11;
  transition-delay: 0.5s; }

#start-conversor:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #00ff11;
  border-left: 2px solid #00ff11;
  transition: 0.5s;
  transition-delay: 0.5s; }

#start-conversor:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s; }

#start-conversor:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #00ff11;
  border-right: 2px solid #00ff11;
  transition: 0.5s;
  transition-delay: 0.5s; }

#start-conversor:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s; }

/* FIN BOTON START CONVERSOR ******************************************************************** */
/* BOTON START RECOMENDACIONES ******************************************************************** */
#start-recomendaciones {
  color: #d000ff;
  height: 48px; }

#start-recomendaciones:hover {
  background: #d000ff;
  color: #111;
  box-shadow: 0 0 50px #d000ff;
  transition-delay: 0.5s; }

#start-recomendaciones:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #d000ff;
  border-left: 2px solid #d000ff;
  transition: 0.5s;
  transition-delay: 0.5s; }

#start-recomendaciones:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s; }

#start-recomendaciones:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #d000ff;
  border-right: 2px solid #d000ff;
  transition: 0.5s;
  transition-delay: 0.5s; }

#start-recomendaciones:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s; }

/* FIN BOTON START RECOMENDACIONES ******************************************************************** */
.configuracion, .botonInfo-listado-container, .botonInfo-container, .conversorInfo-container {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  font-size: 1em;
  font-weight: bold;
  background-color: #828282;
  border: transparent;
  opacity: 0.7;
  border-radius: 10px;
  text-align: center; }

.configuracion-expandir {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1em;
  font-weight: bold;
  background-color: #828282;
  border: transparent;
  opacity: 0.6;
  border-radius: 10px; }

.botonInfo-listado-container, .botonInfo-container, .conversorInfo-container {
  flex-direction: column; }

#expandir-listado, #conversor-expandir, #expandir {
  background-color: transparent !important;
  border: transparent;
  font-weight: bold;
  text-transform: uppercase; }
  #expandir-listado:hover, #conversor-expandir:hover, #expandir:hover {
    color: #ececec; }

/* TITULO Y ANIMACION */
#titulo1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
  letter-spacing: 3px;
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #363636;
  width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.521));
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite; }

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #363636;
    box-shadow: none; }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #6b6b6b, 0 0 20px #6b6b6b, 0 0 40px #6b6b6b, 0 0 80px #6b6b6b, 0 0 160px #6b6b6b; } }

/* ******************************************************************************** */
.configuracion-calculador, .start-calculador-container #calculador, .start-calculador-container #calculador #numero, .start-calculador-container #calculador .calcular, .start-calculador-container #calculador #numero .calcular, .start-calculador-container .historial-resultados-container .historialLista, .start-calculador-container .historial-resultados-container .LimpiarResultados, .start-calculador-container .seccion-cuotas, .start-calculador-container .seccion-cuotas .botonCuotas, .start-calculador-container .seccion-cuotas .LimpiarCuotas, .start-calculador-container .seccion-cuotas .botones-container1 .mostrar, .start-calculador-container .seccion-cuotas .botones-container1 .ocultar {
  background: #828282;
  opacity: 0.8;
  border-radius: 10px;
  width: 370px;
  text-align: center; }

.configuracion-botones, .ConversorLista-container .Limpiar-historial-conversor {
  width: 250px;
  margin-top: 0.5rem;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid dimgray; }

.start-calculador-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0.5rem; }
  .start-calculador-container #calculador, .start-calculador-container #calculador #numero {
    margin-bottom: 0.5rem; }
    .start-calculador-container #calculador #numero {
      border: 2px solid dimgray;
      margin-left: 0;
      background-color: transparent; }
    .start-calculador-container #calculador .resultado, .start-calculador-container #calculador #numero .resultado {
      font-size: 1em;
      font-weight: bold;
      width: 370px;
      margin-top: 0.2rem;
      border-radius: 30px; }
    .start-calculador-container #calculador .calcular, .start-calculador-container #calculador #numero .calcular {
      width: 250px;
      margin-top: 0.2rem;
      font-size: 1em;
      font-weight: bold;
      border: 2px solid dimgray; }
      .start-calculador-container #calculador .calcular:hover, .start-calculador-container #calculador #numero .calcular:hover {
        color: #ececec; }
  .start-calculador-container .historial-resultados-container, .start-calculador-container .seccion-cuotas-container {
    display: flex;
    justify-content: flex-end;
    text-align: center; }
  .start-calculador-container .historial-resultados-container .historialLista {
    padding-bottom: 0.2rem; }
    .start-calculador-container .historial-resultados-container .historialLista #historial {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      font-weight: bold;
      opacity: 1; }
      .start-calculador-container .historial-resultados-container .historialLista #historial #historial li {
        margin-top: 0.5rem; }
  .start-calculador-container .historial-resultados-container .LimpiarResultados {
    width: 250px;
    margin-top: 0.5rem;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid dimgray; }
  .start-calculador-container .seccion-cuotas {
    list-style-type: decimal-leading-zero;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .start-calculador-container .seccion-cuotas .botonCuotas, .start-calculador-container .seccion-cuotas .LimpiarCuotas {
      width: 250px;
      margin-top: 0.5rem;
      font-size: 1em;
      font-weight: bold;
      border: 2px solid dimgray; }
      .start-calculador-container .seccion-cuotas .botonCuotas:hover, .start-calculador-container .seccion-cuotas .LimpiarCuotas:hover {
        color: #ececec; }
    .start-calculador-container .seccion-cuotas .cuotah5 {
      font-size: 1em;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .start-calculador-container .seccion-cuotas .cuotasMontoActual {
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold; }
    .start-calculador-container .seccion-cuotas #cuotas {
      list-style-type: none; }
    .start-calculador-container .seccion-cuotas #cuotas li {
      font-weight: bold; }
    .start-calculador-container .seccion-cuotas .LimpiarCuotas:hover {
      color: #ececec; }
    .start-calculador-container .seccion-cuotas .botones-container1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5em;
      margin-top: 1rem;
      padding-bottom: 1rem; }
      .start-calculador-container .seccion-cuotas .botones-container1 .mostrar, .start-calculador-container .seccion-cuotas .botones-container1 .ocultar {
        width: 100px;
        margin-top: 0.5rem;
        font-size: 1em;
        font-weight: bold;
        border: 2px solid dimgray; }
        .start-calculador-container .seccion-cuotas .botones-container1 .mostrar:hover, .start-calculador-container .seccion-cuotas .botones-container1 .ocultar:hover {
          color: #ececec; }

.Toastify {
  border-radius: 10px; }

nav {
  width: 79vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 0.7rem;
  padding-top: 0.4rem;
  background: #151515;
  opacity: 0.7;
  border-radius: 0 0 20px 20px; }
  nav .nav-item {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Oswald, sans-serif;
    color: #b6b6b6;
    padding: 0 10px; }
    nav .nav-item:after {
      content: '';
      position: absolute;
      background-color: #ca21bc;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s; }
    nav .nav-item:hover {
      color: #fff; }
    nav .nav-item:hover:after {
      width: 100%; }

.d-flex, .datosporunidad-container, .Unidadbtc-container, .Unidadusd-container, .start-conversor-container, .start-conversor-container .conversor, .Botones-conversor-container, .ConversorLista-container .Botones-conversor-historial-container {
  display: flex;
  align-items: center; }

.configuracion-input, .datos-conversor, .start-conversor-container .conversor .Inputbtc, .start-conversor-container .conversor .Inputusd, .BotonConversorBTC, .BotonConversorUSD, .ResultadoBTC, .ResultadoUSD, .ConversorLista-container {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0rem;
  font-size: 1em;
  font-weight: bold;
  background-color: #828282;
  border: transparent;
  opacity: 0.9;
  border-radius: 10px; }

.configuracion-botones, .ConversorLista-container .Limpiar-historial-conversor {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  font-size: 1em;
  font-weight: bold;
  background-color: #828282;
  border: transparent;
  opacity: 0.9;
  border-radius: 10px;
  text-align: center; }

.datos-conversor {
  width: 370px;
  margin-bottom: 0.5rem;
  flex-direction: column; }

.datosporunidad-container {
  flex-direction: column;
  margin-bottom: 0.5rem; }

.Unidadbtc-container, .Unidadusd-container {
  gap: 0.5em;
  flex-direction: row; }

.start-conversor-container {
  flex-direction: column; }
  .start-conversor-container .conversor {
    gap: 0.3em; }

.Botones-conversor-container {
  flex-direction: row;
  gap: 0.5em; }

.BotonConversorBTC, .BotonConversorUSD {
  margin-top: 0.5rem;
  width: 180px; }
  .BotonConversorBTC:hover, .BotonConversorUSD:hover {
    color: #ececec; }

.ResultadoBTC, .ResultadoUSD {
  margin-top: 0.5rem; }

.ConversorLista-container {
  list-style-type: decimal;
  flex-direction: column;
  width: 370px;
  margin-top: 0.5rem; }
  .ConversorLista-container .conversorListah3 {
    margin-top: 1rem;
    text-transform: uppercase; }
  .ConversorLista-container .Limpiar-historial-conversor {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid dimgray; }
    .ConversorLista-container .Limpiar-historial-conversor:hover {
      color: #ececec; }
  .ConversorLista-container .Botones-conversor-historial-container {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2em; }

.startRecomendaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .startRecomendaciones-container .recomendaciones-lista-container {
    width: 370px;
    font-size: 1em;
    font-weight: bold;
    background-color: #828282;
    border: transparent;
    opacity: 0.9;
    border-radius: 10px; }
    .startRecomendaciones-container .recomendaciones-lista-container .recomendaciones-titulo {
      text-align: center; }
    .startRecomendaciones-container .recomendaciones-lista-container .recomendaciones-lista {
      list-style-type: none; }
      .startRecomendaciones-container .recomendaciones-lista-container .recomendaciones-lista li {
        margin: 0.5rem;
        text-transform: uppercase; }

.configuracion-flex, main, .derecha-container, .derecha-container .saludo-y-boton, .derecha-container .presentacion-container #Formulario {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px; }

main {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  border-radius: 10px;
  gap: 1em; }

.derecha-container .saludo-y-boton {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.derecha-container .presentacion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px; }
  .derecha-container .presentacion-container .IngresaNombre {
    width: 300px;
    background: linear-gradient(347deg, #555555 0%, #828282 55%, #c8c8c8 100%);
    border-radius: 20px;
    text-align: center;
    border: transparent;
    opacity: 0.8; }
  .derecha-container .presentacion-container #identificador {
    margin-bottom: 0.5rem;
    width: 300px;
    background: linear-gradient(347deg, #555555 0%, #828282 55%, #c8c8c8 100%);
    border-radius: 20px;
    text-align: center;
    opacity: 0.5; }
  .derecha-container .presentacion-container .GuardarNombre {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    width: 300px;
    font-size: 1em;
    font-weight: bold;
    border: transparent;
    opacity: 0.8;
    background-color: #828282;
    border-radius: 10px; }
    .derecha-container .presentacion-container .GuardarNombre:hover {
      color: #ececec; }
