@import 'variables';

.configuracion {
  width: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  font-size: 1em;
  font-weight: bold;
  background-color: $background-color;
  border: transparent;
  opacity: 0.6;
  border-radius:10px;
}

.configuracion-expandir{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1em;
  font-weight: bold;
  background-color: $background-color;
  border: transparent;
  opacity: 0.6;
  border-radius:10px;  
}
/* BOTONES DE INFO */
.container_informaciones {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;


       .botonInfo-container {
        @extend .container_informaciones;
        width: 330px;
        flex-direction: column;
        margin-right: 1rem;
        
          #mostrarInfo {
              @extend .configuracion-expandir;
              gap: 0;
            }
          
            #expandir {
              @extend .configuracion-expandir;
              gap: 0;
                &:hover{
                  color: $background-color;
                }             
            }      
        } 
}
// ***************************************************************

// INFO CONVERSOR
.conversorInfo-container {
  @extend .botonInfo-container;
  
  #mostrarInfoConversor {
    @extend .configuracion-expandir;
    gap: 0;
  }  
    
  #conversor-expandir {
      @extend .configuracion-expandir;
        &:hover{
          color: $background-color;
        }             
          
    }      
  }

// **************************************************************


//INFO LISTADO 
.botonInfo-listado-container {
  @extend .botonInfo-container;

    #mostrarInfo-listado {
      @extend .configuracion-expandir;
      gap: 0;
    }

    #expandir-listado {
      @extend .configuracion-expandir;  
        &:hover{
          color: $background-color;
        }             
        

    }      
}
// ******************************************************** 