@import 'variables';

.configuracion {
  width: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  font-size: 1em;
  font-weight: bold;
  background-color: $background-color;
  border: transparent;
  opacity: 0.7;
  border-radius:10px;
  text-align: center;
}

.configuracion-expandir{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 1em;
  font-weight: bold;
  background-color: $background-color;
  border: transparent;
  opacity: 0.6;
  border-radius:10px;  
}

.botonInfo-listado-container, .botonInfo-container, .conversorInfo-container {
 @extend .configuracion; 
  flex-direction: column;
}


#expandir-listado, #conversor-expandir, #expandir {
  background-color: transparent !important;
  border: transparent;
  font-weight: bold;
  text-transform: uppercase;
    &:hover{
      color: $hover-color;
    }
}