.configuracion-calculador {
    background: $background-color;
    opacity: 0.8;
    border-radius: 10px;
    width: 370px;
    text-align: center;
}

.configuracion-botones {
    width: 250px;
    margin-top: 0.5rem;
    font-size: 1em;  
    font-weight: bold;
    border: $border-botones;
}


.start-calculador-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-right: 0.5rem;

        #calculador{
            @extend .configuracion-calculador;
            margin-bottom: 0.5rem;
                #numero {
                    @extend #calculador;
                    border: $border-botones;
                    margin-left: 0;
                    background-color: transparent;
                }
                .resultado {
                    font-size: 1em;  
                    font-weight: bold;
                    width: 370px; 
                    margin-top: 0.2rem;
                    border-radius:30px;
                }
                .calcular {
                    @extend .configuracion-calculador;
                    width: 250px;
                    margin-top: 0.2rem;
                    font-size: 1em;  
                    font-weight: bold;
                    border: $border-botones;
                        &:hover{
                            color: $hover-color;
                        }
                    
                }
            }

        .historial-resultados-container, .seccion-cuotas-container {
            display: flex;
            justify-content: flex-end;
            text-align: center;
        }

        .historial-resultados-container{
            @extend .historial-resultados-container;

            .historialLista {        
                padding-bottom: 0.2rem;
                @extend .configuracion-calculador;
                    #historial {
                        display: flex; 
                        flex-direction: column;
                        margin-top: 0.5rem;
                        font-weight: bold;
                        opacity: 1;
                            #historial li {
                                margin-top: 0.5rem;
                            }
                    }
            }
            .LimpiarResultados {
                @extend .configuracion-calculador;
                width: 250px;
                margin-top: 0.5rem;
                font-size: 1em;  
                font-weight: bold;
                border: $border-botones;
            }
        }
        
        .seccion-cuotas {
            @extend .configuracion-calculador;
            list-style-type: decimal-leading-zero;
            margin-top: 1rem;
            margin-bottom: 1rem;

                .botonCuotas {
                    @extend .configuracion-calculador;
                    width: 250px;
                    margin-top: 0.5rem;
                    font-size: 1em;  
                    font-weight: bold;
                    border: $border-botones;    
                        &:hover {
                           color: $hover-color;
                        }

                }

                .cuotah5{
                    font-size: 1em;
                    margin-top: 1rem; 
                    margin-bottom: 1rem; 
                }

                
                
                .cuotasMontoActual{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                #cuotas {
                    list-style-type: none;
                }

                #cuotas li {
                    font-weight: bold;
                }

                .LimpiarCuotas {
                    @extend .botonCuotas;
                        &:hover {
                            color: $hover-color;
                        }
                }
                
                .botones-container1{
                    display:flex;
                    flex-direction: row;
                    justify-content:center;
                    align-items: center;
                    gap: 5em;
                    margin-top: 1rem;  
                    padding-bottom: 1rem;
                        .mostrar, .ocultar{
                            @extend .configuracion-calculador;
                            width: 100px;
                            margin-top: 0.5rem;
                            font-size: 1em;  
                            font-weight: bold;
                            border: $border-botones;
                            &:hover{
                                color: $hover-color;
                            }
                        }
                }
                                
        }

    }

// CSS TOASTIFY JS
.Toastify {
    border-radius: 10px;
}