.startRecomendaciones-container{
    display: flex; 
    flex-direction: column;
    align-items: center;

        .recomendaciones-lista-container{
            width: 370px;
            font-size: 1em;
            font-weight: bold;
            background-color: $background-color;
            border: transparent;
            opacity: 0.9;
            border-radius:10px;
                .recomendaciones-titulo{
                    text-align: center;
                }
                .recomendaciones-lista{
                    list-style-type: none;
                        li{
                            margin: 0.5rem;
                            text-transform: uppercase;
                        }    
                }

        }

}




