/* TITULO Y ANIMACION */
#titulo1 {
    margin-top:2rem;
    margin-bottom: 3rem;
    position: relative;
    letter-spacing: 3px;
    font-size: 2.7em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(54, 54, 54);
    width:100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.521));
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite; 
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% 
    {
        color: rgb(54, 54, 54);
        box-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px rgb(107, 107, 107),
        0 0 20px rgb(107, 107, 107),
        0 0 40px rgb(107, 107, 107),
        0 0 80px rgb(107, 107, 107),
        0 0 160px rgb(107, 107, 107);
    }
}
/* ******************************************************************************** */
