$background-color: #828282;
$background-gradient: linear-gradient(347deg, rgba(85,85,85,1) 0%, rgba(130,130,130,1) 55%, rgba(200,200,200,1) 100%);
$hover-color: #ececec;
$border-botones: 2px solid rgb(105, 105, 105);



