@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Oswald:wght@300&display=swap');
@import 'globales';
@import 'botones-start';
@import 'botones-info';
@import 'titulo-main';
@import 'calculador';
@import 'variables';
@import 'navbar';
@import 'conversor';
@import 'recomendaciones';

.configuracion-flex{
    display:flex;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}


main {
    @extend .configuracion-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    border-radius: 10px;
    gap: 1em;
}

.derecha-container {
    @extend .configuracion-flex;

        .saludo-y-boton {
            @extend .configuracion-flex;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }   

        .presentacion-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius:10px;

                .IngresaNombre{
                    width: 300px;
                    background:$background-gradient;
                    border-radius: 20px;
                    text-align: center;
                    border: transparent;
                    opacity: 0.8;
                }
                
                #identificador {
                    margin-bottom: 0.5rem;
                    width: 300px;
                    background:$background-gradient;
                    border-radius: 20px;
                    text-align: center;
                    opacity: 0.5;
                }        
        
                .GuardarNombre{
                    display: flex;
                    align-items: center;
                    margin-top: 0.5rem;
                    width: 300px;
                    font-size: 1em;  
                    font-weight: bold;
                    border: transparent;
                    opacity: 0.8;
                    background-color: $background-color;
                    border-radius:10px;
                        &:hover{
                            color: $hover-color;
                        }        
                }
        
                #Formulario{
                    @extend .configuracion-flex;        
                }
        }
}


















